* {
  margin: 0;
}

#navbar {
  padding: 2em;
  justify-content: space-evenly;
}

#main {
  flex-grow: 1;
}

#main > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}